<div class="row">
    <div class="col-md-4">
        <div id="linker-logo"><img src="/images/logo-sm.png"></div>
        <p>Linkerat&reg; is the site for tracking links, references, sources, citations, and credits and then
        exporting and generating bibliographies in standard formats.</p>
        <p>Check back for updates, or email us at info&amp;linkerat.com with any questions.</p>
    </div>
        <div class="col-md-8">
            <h1>Your Top Links</h1>

        </div>
    </div>
</div>
